### All about aliases ###

# Some ls aliases
# Aliases
alias la='ls -Alh --color=auto'
alias ll='ls -Alh --color=auto'
alias ls='ls -A --color=auto'
alias l='ls --color=auto'
alias grep='grep --color=auto'
alias diff='colordiff'
alias find='fdfind'
alias fd='fdfind'

# Some nice xclip aliases
if (( $+commands[xclip] && $#DISPLAY )); then
  alias x='xclip -selection clipboard -in'
  alias v='xclip -selection clipboard -out'
  alias c='xclip -selection clipboard -in -filter'
fi

# Some nice bat aliases 
if (( $+commands[bat] && $#DISPLAY )); then
  alias cat='bat'
fi